{%extends 'criminel_website/base.html' %}
<!-- {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">
<body>
<div class="container-fluid">
 -->
{% block content %}
<body class="img-itm">
  </body>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'criminel_website/style.css' %}">
<body class="hajar">
<div class="container-fluid">
<div id = "d1" class = "shadow p-4 mb-5 bg-body rounded ">
<h1>Login</h1>
<br/>


         <form action = "" method = POST>{% csrf_token %}

<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="form-text" class="form-control" name="username" aria-describedby="emailHelp">
    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
   
   <button type="submit" class="btn btn-primary" href="events/templates/events/home.html">Submit</button> 
<!-- </form>
          <input type ="submit" value = "Submit" class="btn btn-secondary">
        </form> -->
   </div>   
<br/><br/>

{% endblock %}
</body>

</div>
    
 