{%extends 'criminel_website/base.html' %}

{% block content %}
<body class="img-itm">
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'criminel_website/style.css' %}">


{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
       There was an error with your form...
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- <p> There was an error with your form...</p> -->

{% endif %}

<div  id="d2" class = "shadow p-4 mb-5 bg-body rounded ">
<h1 id="test">Register</h1>
<br/>


         <form  action = "{% url 'register_user' %}" method = POST>
          {% csrf_token %}
          {{ form.as_p }}


    <input type="Submit" value="Submit" class="btn btn-secondary">
          </form>


</div>
      
<br/><br/>
</body>

{% endblock %}


 